body {
  text-align: center;
}
.title {
  font-family: 'Bangers', monospace;
}
table {
  border: 1px solid black;
}
.menuContainer {
  width: 600px;
  text-align: center;
}
td.flagged {
  height: 25px;
  width: 25px;
  font-size: 10px;
  background-color: orange;
  border-style: outset;
}
.banner {
  width: 100%;
  background-color: rgb(157, 149, 149);
}
.boardContainer {
  text-align: center;
  width: ;
}
.board {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.mine {
  width: 25px;
  height: 25px;
  background-color: red;
}

.waiting {
  border-style: outset;
}

.number,
.empty {
  background-color: ghostwhite;
  border-style: inset;
}

.square {
  width: 25px;
  height: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

._1 {
  color: blue;
}

._2 {
  color: green;
}

._3 {
  color: red;
}

._4 {
  color: navy;
}

._5 {
  color: maroon;
}
