table {
  border: 1px solid black;
}

.mine {
  background-color: red;
}

.flagged {
  background-color: orange;
  border-style: outset;
}

.waiting {
  border-style: outset;
}

.number,
.empty {
  background-color: ghostwhite;
  border-style: inset;
}

.square {
  width: 30px;
  height: 30px;
  font-size: 15px;
}
